.card{
    background-color: goldenrod;
    color: white;
    width: 200px;
    border: 1px gray solid;
    margin: 20px;
    border-radius: 15px; 
    text-align: center;
}
.card:hover{
    transform: scale(0.98);
    transition-duration: 0.25s;
}

.description-container {
    padding: 10px;
}

img {
    width: 200px;
    border-radius: 15px 15px 0px 0px;
    background-color: white;
}